<!DOCTYPE html>
<html>
<head>
	<title>This is search data output page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body
		{
			background-size: cover;
			background-position: right;
			color: white;
			font-size: 2em;
			height: 100vh;
			text-align: center;
			background-image: url("assets/galaxy.jpg");
		}
		table
		{
			width: 90%;
			height: 50%;
			margin: auto;
			position: relative;
			top: 25%;
			font-weight: bolder;
			background-color: rgba(0,0,0,0.4);
		}
		td
		{
			width: 40vh;
			height: 5vh;
		}
		#table-container
		{
			position: relative;
			top: 5vh;
			background-color: white;
			height: 80vh;
			border-radius: 2em;
			width: 90%;
			margin: auto;
			background-size: cover;
			background-position: center;
			background-image: url("assets/galaxy.jpg");
			margin-bottom: 2vh;
			box-shadow: 0 0 80px 40px rgba(255,255,255,0.6);
		}
		.flex-container
		{
			display: flex;
			justify-content: center;
			background-color: rgba(255,255,255,0.5);
			margin: 1em;
		}
		.flex-item
		{
			margin: 0.1em;
			height: 6vh;
			width: 20vw;
			padding: 1em;
			color: black;
			font-weight: bolder;
		}
		.mybutton
		{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			color: white;
			width:20%;
			background-color: #e64a19;
			border-radius: 2em;
		}
		form
		{
			height: 80vh;
			padding: 0.5em;
			position: absolute;
			width: 80vw;
			margin-left: 10vw;
			background-color: rgba(0,0,0,0.8);
			z-index: 1;
		}
		form input, button
		{
			position: relative;
			height: 2em;
			border: 1px solid grey;
			border-radius: 2em;
			text-align: center;
		}
		form button
		{
			margin-bottom: 2em;
		}
		form > p
		{
			margin: 0.5em;
		}
	</style>
</head>
<body>
	<h2>PRODUCT DETAILS</h2>
	<% if(aggregate_output!="") { %>
			<h1><%= aggregate_output %></h1>
	<% } else if(Product_Info!={}) { %>
	<div class="flex-container" style="background-color: transparent;">
		<div class="flex-item" style=" color: white;">Product Name</div>
		<div class="flex-item" style=" color: white;">Price</div>
		<div class="flex-item" style=" color: white;">Quantity</div>
		<div class="flex-item" style=" color: white;">Expiry Date</div>
		<div class="flex-item" style=" color: white;">Actions</div>
	</div>
	<% for(x in Product_Info) { temp = x.split(" ")[0]; temp = temp.substr(0, temp.lastIndexOf("_"))%>
	<div class="flex-container">
		<div class="flex-item" style="width: 25vw; word-break: break-word;">
			<%=  temp %>
		</div>
		<div class="flex-item">
			<%= Product_Info[x].Price %>
		</div>
		<div class="flex-item">
			<%= Product_Info[x].Quantity %>
		</div>
		<div class="flex-item" style="width: 45vw;">
			<%= Product_Info[x].ExpiryDate %>
		</div>
		<div class="flex-item">
			<i class="fa fa-edit" style="font-size:36px" onclick="show_form('<%= x %>', <%= Product_Info[x].Price%>, <%= Product_Info[x].Quantity%>, '<%= Product_Info[x].ExpiryDate %>', '<%= category %>')"></i>
			<a href="/delete?id=<%= x %>&category=<%= category%>"><i class="fa fa-trash" aria-hidden="true""></i></a>
		</div>
	</div>
	<% } } %>
</body>
<script type="text/javascript">
	//Create a new form using JavaScript and use that to get the updated data from user. Please note use of the key values(name attributes of form elements) that'll be used for updating.
	function show_form(prodName, price, quantity, expiryDate, category)
	{
		const newStuff = document.createElement("div")
		const newNode = document.createElement("form")
		newNode.setAttribute("method", "post")
		newNode.setAttribute("action", "/update")

		const input1 = document.createElement("input")
		input1.setAttribute("type","text")
		input1.setAttribute("name", "productName")
		input1.setAttribute("value", prodName)
		input1.setAttribute("required", "required")
		input1.style.cssText = "display:none;"
		
		const input2 = document.createElement("input")
		input2.setAttribute("type", "number")
		input2.setAttribute("name", "price")
		input2.setAttribute("value", price)
		input2.setAttribute("required", "required")

		const input3 = document.createElement("input")
		input3.setAttribute("type", "number")
		input3.setAttribute("name", "quantity")
		input3.setAttribute("value", quantity)
		input3.setAttribute("required", "required")

		const input4 = document.createElement("input")
		input4.setAttribute("type", "date")
		input4.setAttribute("name", "expiryDate")
		input4.setAttribute("value", expiryDate)
		input4.setAttribute("required", "required")

		const input5 = document.createElement("input")
		input5.setAttribute("type", "text")
		input5.setAttribute("name", "category")
		input5.setAttribute("value", category)
		input5.setAttribute("required", "required")
		input5.style.cssText = "display: none;"

		const submitButton = document.createElement("button")
		submitButton.setAttribute("value", "Submit")
		submitButton.setAttribute("name", "Submit")
		submitButton.classList.add("mybutton")
		submitButton.innerHTML = "Submit"

		newNode.appendChild(document.createElement("br"))
		newNode.appendChild(input1)
		newNode.appendChild(document.createElement("br"))
		heading2 = document.createElement("p")
		heading2.innerHTML = "Product Price: "
		newNode.appendChild(heading2)
		newNode.appendChild(input2)
		newNode.appendChild(document.createElement("br"))
		heading3 = document.createElement("p")
		heading3.innerHTML = "Product Quantity: "
		newNode.appendChild(heading3)
		newNode.appendChild(input3)
		newNode.appendChild(document.createElement("br"))
		heading4 = document.createElement("p")
		heading4.innerHTML = "Expires In: "
		newNode.appendChild(heading4)
		newNode.appendChild(input4)
		
		newNode.appendChild(input5)


		newNode.appendChild(document.createElement("br"))
		newNode.appendChild(submitButton)


		const existing_stuff = document.getElementsByClassName("flex-container")[0]
		newStuff.appendChild(newNode)
		document.body.insertBefore(newStuff, existing_stuff)
		console.log(prodName, price, quantity, expiryDate)
	}
</script>
</html>